<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @RenderSection("Metatags", false)

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Western Siding" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header id="header">
        <div class="inner">
            <a id="logo" href="/"><img src="/images/western-siding-logo.png" alt="Western Siding"></a>
            <div id="request-estimate">
                <a asp-page="/RequestEstimate">Request Estimate</a>
            </div>
            <div id="address">
                850 W Franklin Rd
                <br>
                Meridian, Idaho 83642
                <br>
                Office (208) 855-0100
                <br>
                Toll-Free (208) 627-0465
            </div>
        </div>
        <nav id="nav-main">
            <div class="inner">
                <label for="show-menu" class="show-menu">Menu</label>
                <input type="checkbox" id="show-menu">
                <ul id="menu">
                    <li>
                        <a asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="/About">About</a>
                    </li>
                    <li>
                        <a asp-page="/Installation">Installation</a>
                    </li>
                    <li>
                        <a asp-page="/Siding">Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Windows">Windows</a>
                    </li>
                    <li>
                        <a asp-page="/Doors">Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Promotions">Promotions</a>
                    </li>
                    <li>
                        <a asp-page="/Testimonials">Testimonials</a>
                    </li>
                    <li>
                        <a asp-page="/Contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()

    <footer id="footer">
        <div class="inner">
            <div id="business-info">
                <p>
                    &copy; Western Siding and Windows - @DateTime.Now.Year
                </p>
                <p>
                    850 W Franklin Rd Meridian, Idaho 83642
                    <br>
                    Office: (208) 855-0100
                    <br>
                    Toll-Free: (208) 627-0465
                    <br>
                    <data itemprop="openingHours" value="Mo,Tu,We,Th,Fr 08:00-17:00">
                        Monday through Friday 8-5pm
                    </data>
                    <br>
                    Saturday by Appointment
                </p>
            </div>
            <div id="social-media">
                <a class="facebook" href="https://www.facebook.com/WesternSidingIdaho"></a>
                <a class="twitter" href="https://twitter.com/westernsiding"></a>
            </div>
            <div class="clear">
                <a href="http://boisewebhosting.com/">Boise Web Hosting</a> | <a href="http://boiseseo.com/">Boise SEO</a>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-1.11.0.js"
            integrity="sha256-zgND4db0iXaO7v4CLBIYHGoIIudWI5hRMQrPB20j0Qw="
            crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
