<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-610165-99"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-610165-99');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("Metatags", false)
    @RenderSection("Header", false)
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Western Siding" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header id="header">
        <div class="inner">
            <a id="logo" href="/"><img src="/images/western-siding-50-years-logo.png" alt="Western Siding"></a>
            <div id="request-estimate">
                <a asp-page="/RequestEstimate">Request Estimate</a>
            </div>
            <div id="address">
                850 W Franklin Rd Meridian, Idaho 83642
                <br>
                Office (208) 855-0100 | Toll-Free (208) 627-0465
            </div>
        </div>
        <nav id="nav-main">
            <div class="inner">
                <label for="show-menu" class="show-menu">Menu</label>
                <input type="checkbox" id="show-menu">
                <ul id="menu">
                    <li>
                        <a asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="/About">About</a>
                    </li>
                    <li>
                        <a asp-page="/Installation">Installation</a>
                    </li>
                    <li>
                        <a asp-page="/Siding">Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Windows">Windows</a>
                    </li>
                    <li>
                        <a asp-page="/Doors">Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Promotions">Promotions</a>
                    </li>
                    <li>
                        <a asp-page="/Testimonials">Testimonials</a>
                    </li>
                    <li>
                        <a asp-page="/Contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer id="footer">
        <div class="footer-top">
            <div class="inner">
                <div id="footer-about">
                    <h3>
                        About Us
                    </h3>
                    <p>
                        Western Siding is a locally owned company. We began doing business in 1970 when our founder Larry Bruck brought the first continuous gutter machine into the valley. We soon expanded and added permanent siding and replacement windows to our product line.
                    </p>
                </div>
                <div class="more-links">
                    <h3>
                        More Links
                    </h3>
                    <ul>
                        <li>
                            Installations
                        </li>
                        <li>
                            Doors
                        </li>
                        <li>
                            Siding
                        </li>
                        <li>
                            Windows
                        </li>
                        <li>
                            Promotions
                        </li>
                    </ul>
                </div>
                <div id="business-info">
                    <h3>
                        Contact Details
                    </h3>
                    <p>
                        <i class="fas fa-map-marker-alt"></i> 850 W Franklin Rd Meridian, Idaho 83642
                        <br>
                        <i class="fas fa-mobile-alt"></i> Office: (208) 855-0100
                        <br>
                        <i class="fas fa-mobile-alt"></i> Toll-Free: (208) 627-0465
                        <br>
                        <i class="far fa-envelope"></i> info@westernsiding.com
                    </p>
                </div>
                <div id="social-media">
                    <h2>
                        Connect with Us
                    </h2>
                    <span><a href="https://www.facebook.com/WesternSidingIdaho"><i class="fab fa-facebook-f"></i></a></span>
                    <span><a href="https://twitter.com/westernsiding"><i class="fab fa-twitter"></i></a></span>
                    <span><a href="https://twitter.com/westernsiding"><i class="fab fa-instagram"></i></a></span>
                    <span><a href="https://twitter.com/westernsiding"><i class="fab fa-linkedin-in"></i></a></span>
                    <h2>
                        Hours
                    </h2>
                    <p>
                        Monday - Friday : 8:00am - 5:00pm
                    </p>
                    <p>
                        Saturday - Sunday : Closed
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="inner">
                <p>
                    &copy; @DateTime.Now.Year Western Siding and Windows
                </p>
                <p>
                    <a href="http://boisewebhosting.com/">Boise Web Hosting</a> | <a href="http://boiseseo.com/">Boise SEO</a>
                </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"
            integrity="sha256-spTpc4lvj4dOkKjrGokIrHkJgNA0xMS98Pw9N7ir9oI="
            crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
